body {
    background-color: #A1D15B;
}

@media all and (max-width: 1000px) {
    .boxes {
        flex-wrap: wrap;
    } 
}


section.boxes, section.articles {
    display: flex;
}

article {
    padding: 3%;
    text-align: justify;
    font-family: Verdana, sans-serif;
}

div.box {
    border: 1px solid;
    min-height: 150px;
    margin: 5%;
    width: 100%;
}

div#box1 {
    background-color: red;
}

main {
    background-color: rgb(255 255 255);
    max-width: 980px;
    margin: 0 auto;
}

nav li {
    flex: 1;
}

nav a:hover{
    background: red;
}
   
nav a {
    color: white;
    background-color: green;
    text-decoration: none;
    letter-spacing: 2px;
    display: block;
    text-align: center;   
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

